<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css">
    <title>Home Page</title>
  </head>
  <body>
    <%- include("navigation.ejs", {userData: userData}) %>

    <% if (userData !== "") {%>
      <h2>Logged In</h2>
      <p class="info"><strong>User:</strong> <%=userData.username %> | <strong>Card Num:</strong> <%=userData.libCardNum %></p>
    <% } else { %>
      <!-- <p>No one logged in!</p> -->
    <% } %>

    <h1>Welcome To The Library</h1> <hr>

    <div id="container">
      <!-- Displays all books in the library -->
      <% for(const currBook of bookList) {%>
        <div>
          <img src="<%=currBook.imageOfBook %>">
          <p>
            <strong><%=currBook.title %></strong>
            <br> By <%=currBook.author %>
          </p>
        
      
          <% if (currBook.borrowedBy==="" ) {%>
            <form action="/borrow/<%=currBook._id%>" method="POST">
              <button>Borrow</button>
            </form>

          <% } else if (currBook.borrowedBy===userData.libCardNum) { %>
            <form action="/return/<%=currBook._id%>" method="POST">
              <button>Return</button>
            </form>

          <% } else { %>
              <p class="error">Not available to borrow</p>
          <% } %>
        </div>
        <% } %>
    </div>
  </body>
</html>
